body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.todo-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  margin-left: 100px;
}

.todo-text {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid green;
  border-radius: 10px;
}
